*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}


.boards{
    margin-top: 4rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    @media screen and(max-width: 1224px){
        flex-direction: column;
        padding: 2rem;
    }

}

.no-events{
    pointer-events: none;
}

.hidden{
    display: none;
}

.tile-row{
    display: flex;
    justify-content: center;
}

.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.4rem;
    height: 3.4rem;
    background-color: rgba(0, 150, 200, .5);
    box-shadow: 0 0 .2rem grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    text-align: center;
    &:hover{
        cursor: pointer;
        background-color: #eee;
    }
}

.hit{
    padding: 1.4rem;
    background-color: white;
    border-radius: 100%;
}

.hit-ship{
    background-color: red;
}

.ship{
    display: flex;
    height: fit-content;
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 0 .1rem yellow;
    }
}

.ship-tile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.4rem;
    height: 3.4rem;
    background-color: #bbb;
    box-shadow: 0 0 .2rem grey;
}

.ship-holder{
    position: absolute;
    top: 2rem;
    right: 5rem;
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
    height: 34rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ddd;
    box-shadow: 0 0 .2rem grey;
    gap: 1.2rem;
    @media screen and(max-width: 1360px){
        position: static;
        height: auto;
        width: 34rem;
    }
}
.start-button{
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 1.3rem;
    box-shadow: 0 0 .2rem grey;
    font-weight: 600;
    &:hover{
        cursor: pointer;
        background-color: #ddd;
    }
}

.column{
    flex-direction: column;
}

.rotate {
    width: 34rem;
    margin: 1rem auto;
    padding: 1rem;
    font-weight: 600;
    box-shadow: 0 0 0 .1rem lightgrey;
    &:hover{
        cursor: pointer;
        background-color: grey;
    }
}

.game-over{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #444444d2;
}

.game-over-text{
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.game-over-button{
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: 0 0 0 .2rem lightgrey;
    font-size: 1.4rem;
}